<div class="container-fluid" *ngIf="load">
    <div id="page-header" class="page-header">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div id="rob" class="container-fluid"> <!-- SLIDER -->
              <div class="row">	
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li id="c-i" data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  </ol>
      
                <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img [src]="goods.image" class="img-responsive" alt="...">
                      <div class="carousel-caption">
                        <h3></h3>
                        <p></p>  
                      </div>
                    </div>
                  </div>
      
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-8">
            <h1 *ngIf="goods.name">{{goods.name}}</h1>
            <p id="description">{{goods.shortDescription}}</p>
            <h2 *ngIf="goods.discount" class="old-price one-line-price">{{ goods.price }} грн </h2>
            <h2 class="one-line-price">{{goods.price - goods.discount}} грн</h2>      
            <h4 id="description">Средняя оценка: 4.1/5.</h4>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
                  <div class="btn-group" role="group" aria-label="..."><button type="button" class="btn btn-default">Поставить оценку</button>
                  </div>
              </div>
              <p><br>
                <a href="#" class="btn btn-primary" role="button">
                  В корзину
                </a> 
                <a href="#" class="btn btn-primary" role="button">
                  Предзаказ
                </a>
              </p>
            </div>
          </div>
        </div>
      
        <ul class="nav nav-tabs">
          <li role="presentation" [class.active]="tab == 1" (click)="changeTab(1)"><a id="tabs-notactive">Описание товара</a></li>
          <li role="presentation" [class.active]="tab == 2" (click)="changeTab(2)"><a id="tabs-notactive" >Характеристики</a></li>
          <li role="presentation" [class.active]="tab == 3" (click)="changeTab(3)"><a id="tabs-notactive" >Фото</a></li>
        </ul>
      
      <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9">
        <div *ngIf="tab == 1" class="row">
          <div class="col-md-12"> 
            <div class="panel panel-default">
              <div class="panel-heading">
                Описание Ноутбук Dell XPS 15 9550 (X5581S0NDW-46S)
              </div>
                <div class="panel-body">
                  <h4>Ноутбук XPS 15 — это мощный ноутбук в семействе XPS.</h4> 
                  <p>Он оснащен функциями повышения производительности, которые помогут вам эффективно работать и развлекаться на всю катушку, где бы вы ни были.</p>
                  
                  <h4>Фантастическая четкость деталей</h4>
                  <p>Большой 15.6-дюймовый дисплей ноутбука XPS 15 отличает невероятное разрешение в сочетании с реалистичной цветопередачей. Кристально-четкие детали и насыщенные цвета идеально подходят для редактирования фотографий и графического дизайна. Это яркая модель с широким углом обзора, которая привлекает внимание и позволяет легко работать вместе.</p>
                  
                  <h4>Потрясающая прочность</h4>
                  <p>Конструкцию из механически обработанного алюминия идеально точно вырезают из монолитного куска алюминия, чтобы корпус был прочным и долговечным. Основание из углеволокна является прочным и тонким как алюминий. Поэтому оно часто используется в мощных автомобилях. Кроме того, это легкий и прохладный на ощупь материал.</p>
                  
                  <h4>Больше возможностей</h4> 
                  <p>Процессор Intel Core 6-го поколения отличает мощность и эффективное энергопотребление. Он дает вам возможность эффективней работать и реже подключаться к электросети.</p>
      
                  <h4>Великолепный звук</h4>
                  <p>Музыка, фильмы и игры оживают благодаря ПО MaxxAudio Pro от Waves, основанному на тех же отмеченных наградами технологиях, которыми пользуются продюсеры, инженеры и музыканты с мировым именем.</p>
      
                </div>
              </div>
          </div>
          
        </div>      
        <div *ngIf="tab == 2">
          <laptop *ngIf="goods.category.id == 3"></laptop>
          <cpu *ngIf="goods.category.id == 5"></cpu>
        </div>

<div *ngIf="tab == 3" class="row">
    
    <div class="col-md-12">
      <a href="#" class="thumbnail">
        <img [src]="goods.image" alt="...">
      </a>
    </div>
  </div>  
</div>
    <comments></comments>
      </div>
    </div>
</div>
<div class="container-fluid content spinner-wrapper" *ngIf="!load">
  <mat-progress-spinner mode="indeterminate" strokeWidth="2"></mat-progress-spinner>
</div>
<footer></footer>

