<div class="container-fluid content spinner-wrapper" *ngIf="!user">
    <mat-progress-spinner mode="indeterminate" strokeWidth="2"></mat-progress-spinner>
  </div>

<div class="container-fluid" *ngIf="user">
	<div id="page-header" class="page-header">
		<div class="row">
		  <div class="otstup col-md-1"></div>
		  <div class="col-xs-12 col-md-1">
		  </div>
		  <div class="col-xs-12 col-md-10">
        <h1>
          Личный кабинет
        </h1>
        <h1 id="name-of-user">
          {{user.firstName + ' ' + user.lastName + ' ' + user.patronymic}}
        </h1>
      </div>
		</div>
	</div>
	
	
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a id="tabs-notactive" href="#">История покупок</a></li>
	  <li role="presentation"><a id="tabs-notactive" href="#">Личные данные</a></li>
	 
	</ul>

<div class="row">
	
<div class="col-xs-12 col-md-12">	
<div id="order" class="panel panel-default">
	  	<div class="panel-heading">Заказ №ххххххх</div>
  		<div class="panel-body">
	  <ul class="list-group">
		<li class="list-group-item">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="assets/images/goods/dell.jpg" width="80px" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Dell XPS 15 9550 (X5581S0NDW-46S)</h4>
			    <p>Цена: 39 999 грн</p>
			    <p><a href="#" class="btn btn-primary" role="button">Подробнее</a>
			  </div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="assets/images/goods/dell.jpg" width="80px" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Dell XPS 15 9550 (X5581S0NDW-46S)</h4>
			    <p>Цена: 39 999 грн</p>
			    <p><a href="#" class="btn btn-primary" role="button">Подробнее</a>
			  </div>
			</div>
		</li><li class="list-group-item">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="assets/images/goods/dell.jpg" width="80px" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Dell XPS 15 9550 (X5581S0NDW-46S)</h4>
			    <p>Цена: 39 999 грн</p>
			    <p><a href="#" class="btn btn-primary" role="button">Подробнее</a>
			  </div>
			</div>
		</li><li class="list-group-item">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="assets/images/goods/dell.jpg" width="80px" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Dell XPS 15 9550 (X5581S0NDW-46S)</h4>
			    <p>Цена: 39 999 грн</p>
			    <p><a href="#" class="btn btn-primary" role="button">Подробнее</a>
			  </div>
			</div>
		</li>
	  </ul>
	</div>
	</div>
	</div>
	</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
    	<div class="col-xs-12 col-md-6">
    		<table class="table">
			  <tr>
			    <td><h4>Имя:</h4></td><td><h4>Артур</h4></td>
			  </tr>
			  <tr>
			    <td><h4>Отчество:</h4></td><td><h4>Артурович</h4></td>
			  </tr>
			  <tr>
			    <td><h4>Фамилия:</h4></td><td><h4>Пирожков</h4></td>
			  </tr>
			  <tr>
			    <td><h4>e-mail:</h4></td><td><h4>arthurpirozhkov@gmail.com</h4></td>
			  </tr>
			</table>
    	</div>
    	<div class="col-xs-12 col-md-4">
    		<a href="#" class="btn btn-default" role="button">Редактировать профиль</a>
    	</div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
    	<div class="col-xs-12 col-md-6">
    		<table class="table">
			  <tr>
			    <td><h4>Имя:</h4></td><td><input type="text" class="form-control" placeholder=""></td>
			  </tr>
			  <tr>
			    <td><h4>Отчество:</h4></td><td><input type="text" class="form-control" placeholder=""></td>
			  </tr>
			  <tr>
			    <td><h4>Фамилия:</h4></td><td><input type="text" class="form-control" placeholder=""></td>
			  </tr>
			  <tr>
			    <td><h4>e-mail:</h4></td><td><input type="text" class="form-control" placeholder=""></td>
			  </tr>
			</table>
    	</div>
    	<div class="col-xs-12 col-md-4">
    		<a href="#" class="btn btn-default" role="button">Сохранить изменения</a>
    		<a href="#" class="btn btn-default" role="button">Отмена</a>
    	</div>
    </div>
  </div>
</div>
</div>