li {
    cursor: pointer;
}

.input-group-addon1 {
    min-width: 70px;
    max-width: 70px;
}

.input-group-addon2 {
    min-width: 90px;
    max-width: 90px;
}

.invalid {
    border: 2px solid red;
}

.alert, .alert-danger {
    height: 30px;
    padding: 0;
    margin-bottom: 0px;
}

.alert-dangerp {
    height: 50px;
}