.btn-default{
    background-color: #FF8023 !important;
	color: white !important;
}

.btn-default:hover{
    background-color: white !important;
	color: black !important;
}

.displ{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 50px !important;
}

mat-form-field {
    width: 100%;
    margin: 0 15px;
}
