
.btn {
    margin: 2px;
}

@media screen and (min-width: 769px) {
   .thumbnail {
       height: 500px;
   }

   img {
    height: 130px !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
    .thumbnail {
        height: 540px;
    }

    img {
        height: 130px !important;
    }
}

@media only screen and (max-width: 480px) {
    .thumbnail {
        height: 540px;
    }
}

.thumbnail:hover {
    cursor: pointer;
}


img {
    height: 200px;
}