.item-card {
    background-color: #fff;
    box-shadow: 0 0 7px #777;
    border-radius: 10px;
    width: 100%;
   /* margin-top: 100px;
    margin-left: 100px;*/
    height: 100%;
    padding-bottom: 5px;
    transition-duration: .3s;
    margin-bottom: 10px;
}

.item-card:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.item-image {
   /* width: 100%;*/
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    height: 50%;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
}
.item-description {
    width: 100%;
    height: 50%;
    margin-left: 0;
    margin-bottom: 0;
}
.item-description h4 {
    margin-left: 10px;
}
.item-description h4 a {
    text-decoration: none;
    color: #FF5E68;
}
.item-description h4 a:hover {
    text-decoration: none;
    color: rgb(206, 75, 84);
}
.item-description p {
    margin-left: 10px;
    color: #555;
}
.price-wrapper {
    background-color: transparent;
    border: 2px solid #FF5E68;
    width: 50%;
    margin-left: 25%;
    height: 30px;
    border-radius: 30px;
    display: flex;
    
}
.price-wrapper p {
    color: #FF5E68;
    font-size: 20px;
    margin: auto;
}

.basket-button {
    background-color: #FF5E68;
    box-shadow: 0 3px 10px #777;
    border: none;
    border-radius: 50%;
    color: white;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: 80%;
    transform: translateX(-25px);
    cursor: pointer;
    transition-duration: .3s;
    z-index: 15;
}

.basket-button:hover {
    /*animation: hover-anim .5s ease-in-out infinite;*/
    background-color: #fff;
    color: #FF5E68;
}


.btn {
    margin: 2px;
}

.thumbnail {
    background: #fff !important;
}

@media screen and (min-width: 769px) {
   .thumbnail {
       height: 500px;
   }

   img {
    height: 130px !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
    .thumbnail {
        height: 540px;
    }

    img {
        height: 130px !important;
    }
}

@media only screen and (max-width: 480px) {
    .thumbnail {
        height: 540px;
    }
}

.thumbnail:hover {
    cursor: pointer;
}


img {
    height: 200px;
}

/*
.content {
    border: 3px solid #fff;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.item {
    padding: 1px;
}

.header {
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    background: #fff;
}

.header:hover{
    color: blueviolet;
    text-decoration: underline;
    cursor: pointer;
}

.wrapper {
    margin-top: 5px;
    margin-left: 5px;
}

.btn-center {
    text-align: center;
}

.goods-name {
    font-size: 18px;
    font-weight: bold;
}

.price {
    color: #fff;
    background: #4B0082;
    padding: 1px;
    margin: 1px;
    font-weight: bold;
    font-size: 16px;
    width: fit-content;
    letter-spacing: 1px; 
    display: inline-block;
}

.new-price {
    color: #fff;
    background: rgb(95, 73, 110);
    padding: 1px;
    margin: 1px;
    margin-left: 2px !important;
    font-weight: bold;
    font-size: 16px;
    width: fit-content;
    letter-spacing: 1px; 
    display: inline-block;
}

img {
    margin: 0 auto !important;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.add {
    text-transform: uppercase;
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    background: linear-gradient(to right, #C33764, #1D2671);
    color: #fff;
    font-size: 12px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    height: 35px;
    font-weight: bold;
}

.more {
    text-transform: uppercase;
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    background: linear-gradient(to right, #6441A5, #2a0845);
    color: #fff;
    font-size: 12px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    height: 35px;
    font-weight: bold;
}

.add:hover, .more:hover {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
}

.add:active , .add:focus, .more:active , .more:focus {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
}*/