<!--<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="page-header" class="page-header">
          <div class="row">
            <div class="otstup col-md-1"></div>
            
            <div class="col-xs-12 col-md-7"><h1>Оформление заказа</h1></div>
            <div class="col-xs-12 col-md-4"><h4>Товаров в заказе на сумму: {{sum()}} грн</h4>
              <h4>Количество товаров в заказе: {{countOfEl()}}</h4>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <!-- List group 
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of goods; let i = index">
              <div class="media">
                <div class="media-left">
                 <a>
                  <img class="media-object" [src]="item.image" width="80px" alt="...">
                 </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{item.name}}</h4>
                    <p>Цена: {{item.price}} грн</p>
                    <p>
                      Количество: <button (click)="plus(i)">+</button>
                      <mat-form-field class="count">
                        <input matInput value="1">
                      </mat-form-field>
                      <button (click)="minus(i)">-</button>
                    </p>
                  </div>
                </div>
              </li>                       
          </ul>
        </div>
        <div class="col-md-12">
          <form ngForm #f="ngForm" (submit)="subm(f.value)">
            Город доставки: 
            <select ngModel #city="ngModel" required name="deliveredCity">
              <option value="Николаев" selected>Николаев</option>
              <option value="Одесса">Одесса</option>
            </select><br>
            Номер почтового отделения: 
            <select ngModel #city="ngModel" required name="postOfficeNumber">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <br>
            <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Заказать</button>
          </form>
        </div>
      </div>
  </div>
</div>-->
<div class="container-fluid order-page-wrapper">
  <div class="order-header-wrapper row col-xs-12">
    <div class="order-header col-xs-12 col-md-6">
        <h1>Оформление заказа</h1>
    </div>
    <div class="total-price-wrapper col-xs-12 col-md-6">
        <table class="total-price">
            <tr>
              <td><h3>Товаров в корзине на сумму:</h3></td>
              <td><h3>{{sum()}} грн</h3></td>
            </tr>
          </table>
    </div>  
  </div>
  <div class="row col-xs-12">
      
      <div class="order-menu col-xs-12 col-md-6">
          <div class="card-pay">

              <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <h4>Данные для доставки Новой почтой</h4><br>
                      <form ngForm #fr="ngForm" (submit)="reg(fr.value)"> 
                          <mat-form-field class="post"> 
                              <input ngModel 
                                #city="ngModel" 
                                name="city"
                                required
                                type="text" 
                                placeholder="Город"
                                matInput 
                                [matAutocomplete]="cityComplete"
                                (keyup)="filterCities(city.value)" 
                                (blur)="filterDepartmens(city.value)"
                               >
                              <mat-error *ngIf="city.hasError('required')">
                                Это поле обязательно к заполнению
                              </mat-error>
                          </mat-form-field>  
                          <mat-autocomplete #cityComplete="matAutocomplete" class="post">
                              <mat-option *ngFor="let city of filteredCities" [value]="city.DescriptionRu">
                                {{ city.DescriptionRu }}
                              </mat-option>
                            </mat-autocomplete>
                          <mat-form-field class="post">
                              <input ngModel 
                                #department="ngModel" 
                                name="department"
                                required
                                placeholder="Отделение"
                                matInput 
                                
                                [matAutocomplete]="depComplete">
                              <mat-error *ngIf="department.hasError('required')">
                                Это поле обязательно к заполнению
                              </mat-error>
                          </mat-form-field> 
                          <mat-autocomplete #depComplete="matAutocomplete" class="post">
                            <mat-option *ngFor="let dep of filteredDepartmens" [value]="dep.DescriptionRu">
                              {{ dep.DescriptionRu }}
                            </mat-option>
                          </mat-autocomplete>
                          </form>
                  </div>
                  </div>

            </div>
        <h4>Выберите способ оплаты:</h4>
        <mat-radio-group  [(ngModel)]="payment">
            <mat-radio-button value="Наличными">
              Наличными
            </mat-radio-button>
            <mat-radio-button value="Visa" disabled >
                Visa / Mastercard
              </mat-radio-button>
          </mat-radio-group>
          
        <!-- Кусок про оплату в интернете --><!-- Кусок про оплату в интернете -->
        
      </div>
      <div class="order-table col-xs-12 col-md-6">
        <div class="order-item" *ngFor="let item of goods; let i = index">
          <div class="order-image-wrapper" [routerLink]="['/goods',item.category.id, item.id]">
            <img class="order-image" [src]="item.image" alt="">
          </div>
          <div class="order-name-wrapper" [routerLink]="['/goods',item.category.id, item.id]">
          <p>{{item.name}}</p>
        </div>
        <div class="order-quantity-wrapper">
          <p>
            <i class="fas fa-minus" (click)="minus(i)"></i>
            <mat-form-field class="count">
              <input matInput value="1" class="count-input">
            </mat-form-field>
            шт.
            <i class="fas fa-plus" (click)="plus(i)"></i>
          </p>
        </div>
        <div class="order-price-wrapper">
          <p>{{item.price - item.discount}} грн</p>
        </div>
        <div class="order-x-button-wrapper">
          <button class="order-x-button" (click)="remove(i)">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>    
          
        </div>
      
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 center">
        <div class="main-order-button-wrapper">
            <button class="main-order-button" (click)="send()">Оформить заказ</button>
          </div>
    </div>
  </div>
</div>
<footer></footer>