<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="page-header"  class="page-header">
          <div  class="row">
            <div class="otstup col-md-1"></div>

            <div class="col-xs-12 col-md-7"><h1>Оформление заказа</h1></div>
            <div class="col-xs-12 col-md-4"><h4>Товаров в заказе на сумму: {{ sum() }} грн</h4>
              <h4>Количество товаров в заказе: {{countOfEl()}}</h4>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of goods; let i = index">
              <div class="media">
                <div class="media-left">
                 <a>
                  <img class="media-object" [src]="item.image" width="80px" alt="...">
                 </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{item.name}}</h4>
                    <p>Цена:  {{item.price}}  грн</p>
                    <p>
                       Количество: <button  (click)="plus(i)">+</button>
                      <mat-form-field class="count">
                        <input matInput value="1">
                      </mat-form-field>
                      <button (click)="minus(i)">-</button>
                    </p>
                  </div>
                </div>
              </li>
          </ul>
        </div>
        <div class="col-md-12">
          <form ngForm #f="ngForm" (submit)="subm(f.value)">
             Город доставки:
            <select ngModel #city="ngModel" required name="deliveredCity">
              <option value="Николаев" selected>Николаев </option>
              <option value="Одесса"> Одесса </option>
            </select><br>
             Номер почтового отделения:
            <select ngModel #city="ngModel" required name="postOfficeNumber">
              <option value="1" selected> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
            </select>
            <br>
            <button type="submit"  [disabled]="f.invalid" mat-raised-button color="primary">Заказать</button>
          </form>
        </div>
      </div>
  </div>
</div>
<footer></footer>
