<div class="container-fluid content">
  <div class="col-md-12 flex-content">
    <form *ngIf="step == 1" ngForm #f="ngForm" (submit)="checkEmail(f.value)"> 
      <mat-form-field>
          <input ngModel 
          #login="ngModel" 
          name="email" 
          required 
          maxlength="40" 
          minlength="10"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          matInput 
          placeholder="Email">
          <mat-error *ngIf="login.hasError('required')">
            Не корректное значение
          </mat-error>
          <mat-error *ngIf="login.hasError('pattern' || 'minlenght' || 'maxlenght') ">
            Email не валидного формата
          </mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Далее</button>
    </form>
    <form *ngIf="step == 2" ngForm #f="ngForm" (submit)="createNewPassword(f.value)"> 
      <mat-form-field>
        <input ngModel 
        #pass="ngModel" 
        name="pass" 
        required
        matInput
        placeholder="Пароль" 
        minlength="8"
        maxlength="16"
        pattern="^.*(?=.*[A-Z])(?=.*[a-z])(?=.*\d).*$" 
        [type]="hide ? 'password' : 'text'" >
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="pass.hasError('pattern' || 'minlenght' || 'maxlenght') ">
          Пароль не валидного формата
        </mat-error>
        <mat-error *ngIf="pass.hasError('required')">
          Не корректное значение 
        </mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <input ngModel 
        #code="ngModel" 
        name="code" 
        required
        matInput
        placeholder="Код подтверждения" >
        <mat-error *ngIf="code.hasError('required')">
          Не корректное значение 
        </mat-error>
      </mat-form-field><br>
      <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Далее</button>
    </form>    
  </div>
</div>

<footer></footer>