
@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
	font-family: 'Play', Arial, sans-serif;
}


html, body {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

body {
    margin: 0;
    height: auto;
    /* background: linear-gradient(180deg,#252629, white, white, white, white, white, white, white, white, white, white, white, white); */
	background: white; 
}
.page-header {
	background: #252629;
}
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
.navbar-header {
	background: linear-gradient(-90deg,#FF8023,#EE6F12);
	padding-left: 1%;
	
}
.old-price{
	text-decoration: line-through;
}

.one-line-price{
  display: inline-block;
}

.navbar-brand {
	color: white !important;
}
#paragraph:hover {
	background-color: #FF8023;
	color: white;
}
#paragraph {
	color: #FF8023;
}
.navbar-default {
	color: #FF8023 !important;
	border: 0 !important;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	background: #252629 !important;
	margin-bottom: 1px !important;
}
#c-i {
	background: transparent !important;
	border-color: #FF8023 !important;
}
#c-i:hover{
	background: #FF8023 !important;
}
.btn-primary {
	border-color: #FF8023!important;
	background-color: #FF8023!important;
	color: white!important;
	
	
}
.btn-primary:hover {
	color: #FF8023!important;
	background-color: transparent!important;
}
.btn-default:hover {
	border-color: #FF8023!important;
	background-color: #FF8023!important;
	color: white!important;
	
	
}
.btn-default {
	color: #FF8023!important;
	background-color: transparent!important;
	border-color: #FF8023!important;
}
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/

#page-header {
	margin-top: 50px;
	margin-bottom: 0px;
	color: #FF8023;
	border-color: transparent;
}
#description {
	color: white;
}
.thumbnail {
	 background: transparent!important;
	border-color: transparent !important;
}
.nav-tabs {
	border-color: #FF8023 !important;
	background: #252629 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ddd !important;
    cursor: default;
    background: #fff !important;
    border: 1px solid #FF8023 !important;
    border-bottom-color: transparent !important;
}
#tabs-notactive {
	color: #FF8023 !important;
}
#tabs-notactive:hover {
	background: #252629;
	color: white;
	border-color: #FF8023;
}
/* Fade Slider CSS *//* Fade Slider CSS *//* Fade Slider CSS */
.otstup{
	margin-top:52px;
}
.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
}
.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
  z-index: 1;
}
.carousel .active.left,
.carousel .active.right {
  opacity: 0;
  z-index: 2;
}      
.carousel .carousel-control {
  z-index: 1000;
  outline:none;
}
#goods-cz {
	margin-top: 10px !important;
}
/* Fade Slider CSS *//* Fade Slider CSS *//* Fade Slider CSS */
.search-pannel {
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer {
	background: #252629 !important; 
}


@media screen and (min-width: 768px) and (max-width: 950px) {
	.nav>li>a  {
	padding: 15px 10px!important;	
	}
}
#registration-form {
	margin-top: 70px !important;
}

.spinner-wrapper {
  display: flex;
  justify-content: space-around;
}

.content {
  margin-top: 50px !important;
}

/* LOADING ANIMATION */

/* Frame Upload */
  .onload {
    margin-left: 45%;
}
/* Balls */
  div.circle {
    border-radius: 50%;
    background: #fff;
    width: 13px;
    height: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    margin-top: 40%;
  }
/* First Ball */
  div.circle:first-child {
    animation: upload 0.8s cubic-bezier(0.39, 0.56, 0.57, 1) 0s infinite alternate-reverse;
    background-color: #4285f4;
    margin-right: 6px;
  }
/* Second Ball */
  div.circle:nth-child(2) {
    animation: upload 1.3s cubic-bezier(0.39, 0.56, 0.57, 1) 0s infinite alternate-reverse;
    background-color: #34a853;
    margin-right: 3px;
  }
/* Third Ball */
  div.circle:nth-child(3) {
    animation: upload 1.1s cubic-bezier(0.39, 0.56, 0.57, 1) 0s infinite alternate-reverse;
    background-color: #fbbc05;
    margin-left: 3px;
  }
/* Fourth Ball */
  div.circle:last-child {
    animation: upload 1.45s cubic-bezier(0.39, 0.56, 0.57, 1) 0s infinite alternate-reverse;
    background-color: #ea4335;
    margin-left: 6px;
  }

/*-- Balls Animation --*/
  @keyframes upload {
    from { transform: translateY(35px); }
    to { transform: translateY(-35px); }
  }

  /*переместить в компонент*/
  .panel{
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding: 0px 5px;
  }

  .panel-color{
    color: white;
    background: #252629 !important;
    margin-bottom: 0px !important;
  }