
@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

* {
	font-family: 'Play', Arial, sans-serif;
}


html, body {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

body {
    margin: 0;
    height: auto;
    /*background: linear-gradient(180deg,#252629, #252629, #252629, #252629, #EE6F12);
*/
}
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
.navbar-header {
	background: linear-gradient(-90deg,#FF8023,#EE6F12);
	padding-left: 1%;
	
}
.old-price{
	text-decoration: line-through;
}

.navbar-brand {
	color: white !important;
}
.navbar-default {
	color: #FF8023 !important;
	border: 0 !important;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	background: #252629 !important;
	margin-bottom: 1px !important;
}
#indicator {
	background: #FF8023 !important;
}
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
/* Fade Slider CSS *//* Fade Slider CSS *//* Fade Slider CSS */
.otstup{
	margin-top:52px;
}
.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
}
.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
  z-index: 1;
}
.carousel .active.left,
.carousel .active.right {
  opacity: 0;
  z-index: 2;
}      
.carousel .carousel-control {
  z-index: 1000;
  outline:none;
}
/* Fade Slider CSS *//* Fade Slider CSS *//* Fade Slider CSS */
.search-pannel {
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer {
	background: #252629 !important; 
}


@media screen and (min-width: 768px) and (max-width: 950px) {
	.nav>li>a  {
	padding: 15px 10px!important;	
	}
}

