<nav class="navbar navbar-default navbar-fixed-top"> <!-- NAVBAR -->
  <div id="navstrip" class="container-fluid"> 
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/">M</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li *ngIf="!isSearching"><a id="paragraph" routerLink="/main" routerLinkActive="active-my">Главная<span class="sr-only">(current)</span></a></li>
      <li *ngIf="!isSearching"><a id="paragraph" routerLink="/categories" routerLinkActive="active-my">Каталог товаров<span class="sr-only">(current)</span></a></li>
      <li *ngIf="!isSearching"><a id="paragraph" routerLink="/delivery" routerLinkActive="active-my">Оплата и доставка<span class="sr-only">(current)</span></a></li>
      <li *ngIf="!isSearching"><a id="paragraph" routerLink="/about" routerLinkActive="active-my">О нас<span class="sr-only">(current)</span></a></li>
      <li *ngIf="isSearching"><search id="paragraph" class="searching"></search></li>
      <li (click)="search()"><a id="paragraph"><search *ngIf="isMinSizeSearch" class="sr"></search><img [src]="isSearching || isMinSizeSearch ? 'assets/images/close.png' : 'assets/images/search.png'" class="search"><span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li *ngIf="!service.isUserLoggedIn()"><a id="paragraph" routerLink="/office">
      <img id="account-image" src="assets/images/delldo.jpg" width=20px alt="..."> Войти
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li *ngIf="service.isUserLoggedIn()" class="dropdown">
        <a id="paragraph" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Личный кабинет<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/office" routerActiveLink="active-me">Личная информация</a></li>
          <li><a (click)="logOut()">Выйти</a></li>
        </ul>
      </li>
      <li (added)="added()">
          <a id="paragraph" routerLink="/goods-cart">
            Корзина
            <span id="indicator" class="badge">
              {{goodsCart.getCount()}}
            </span> 
            <span class="sr-only">
              (current)
            </span>
          </a>
      </li>
        
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
